.stock-header {
  color: rgb(0, 0, 0);
  font-weight: 700;
  border-radius: 12px 12px 4px 4px; 
  border: 2px solid #000000;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
}

.stock-header .col {
  padding: 0.2rem 0.2rem;
  font-size: 0.95rem; 
}

.stock-row{
  border-left: 3px solid #40a842;
  text-decoration: none;
  color: inherit;
}

.stock-row .col {
  padding: 0.5rem;
}

.stock-scroll {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  -webkit-overflow-scrolling: touch; /* smooth scroll on iOS */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.stock-scroll::-webkit-scrollbar {
  width: 0;
  height: 0;
}