.stock-header {
  background: linear-gradient(90deg, #de7d7d, #d34040);
  color: white;
  font-weight: 700;
  border-radius: 12px 12px 0 0; 
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
}

.stock-header .col {
  padding: 0.2rem 0.2rem;
  font-size: 0.95rem; 
}


.stock-table {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.stock-row:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.stock-row {
  border-left: 4px solid #14b339; 
}

.stock-row .col {
  padding: 0.5rem;
}
