.stockGraphContainer {
  background-color: #aeaeae44;
  border-radius: 12px;
  margin: 0.5rem;
  padding: 1rem;
}

.stockHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 1rem;
}

.backBtn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ffffff;
  color: #030303;
  font-size: 1.05rem;
  transition: all 0.18s ease;
  cursor: pointer;
  border: none;
  margin: 0.5rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.backBtn:hover,
.backBtn:focus {
  background-color: rgba(174, 174, 174, 0.27);
  outline: none;
}
.stockData {
  background: #ffffff;
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0 4px 18px rgba(0, 0, 0, 0.05);
  width: 100%;
  max-width: 380px;
  font-family: "Inter", sans-serif;
}

.stockData h5.currentValue {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 16px;
  color: #111;
}

.rowItem {
  display: flex;
  justify-content: space-between;
  padding: 8px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.06);
}

.rowItem:last-child {
  border-bottom: none;
}

.label {
  font-size: 0.95rem;
  color: #666;
}

.value {
  font-weight: 600;
  font-size: 1rem;
  color: #000;
}

.change.green {
  color: #10b981;
}

.change.red {
  color: #ef4444;
}
